<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Mahjong_All_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{260,638},{41,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{41,58}}</string>
                <key>sourceSize</key>
                <string>{41,58}</string>
            </dict>
            <key>Mahjong_All_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,90},{74,105}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{74,105}}</string>
                <key>sourceSize</key>
                <string>{74,105}</string>
            </dict>
            <key>Mahjong_All_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,166},{104,82}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{104,82}}</string>
                <key>sourceSize</key>
                <string>{104,82}</string>
            </dict>
            <key>Mahjong_All_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{109,159},{104,82}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{104,82}}</string>
                <key>sourceSize</key>
                <string>{104,82}</string>
            </dict>
            <key>Mahjong_All_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{268,495},{33,67}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{33,67}}</string>
                <key>sourceSize</key>
                <string>{33,67}</string>
            </dict>
            <key>Mahjong_All_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{127,83},{74,106}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{74,106}}</string>
                <key>sourceSize</key>
                <string>{74,106}</string>
            </dict>
            <key>Mahjong_All_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{86,123}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{86,123}}</string>
                <key>sourceSize</key>
                <string>{86,123}</string>
            </dict>
            <key>mjp_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{174,623},{57,84}}</string>
                <key>offset</key>
                <string>{-2,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{10,9},{57,84}}</string>
                <key>sourceSize</key>
                <string>{81,96}</string>
            </dict>
            <key>mjp_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{88,595},{67,84}}</string>
                <key>offset</key>
                <string>{1,-5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{8,11},{67,84}}</string>
                <key>sourceSize</key>
                <string>{81,96}</string>
            </dict>
            <key>mjp_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{274,349},{19,82}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{31,5},{19,82}}</string>
                <key>sourceSize</key>
                <string>{81,96}</string>
            </dict>
            <key>mjp_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,616},{61,84}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{10,7},{61,84}}</string>
                <key>sourceSize</key>
                <string>{81,96}</string>
            </dict>
            <key>mjp_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{90,544},{49,86}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{16,4},{49,86}}</string>
                <key>sourceSize</key>
                <string>{81,96}</string>
            </dict>
            <key>mjp_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,309},{61,88}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{10,5},{61,88}}</string>
                <key>sourceSize</key>
                <string>{81,96}</string>
            </dict>
            <key>mjp_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{92,359},{59,88}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{12,5},{59,88}}</string>
                <key>sourceSize</key>
                <string>{81,96}</string>
            </dict>
            <key>mjp_17.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,431},{55,88}}</string>
                <key>offset</key>
                <string>{1,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{14,6},{55,88}}</string>
                <key>sourceSize</key>
                <string>{81,96}</string>
            </dict>
            <key>mjp_18.png</key>
            <dict>
                <key>frame</key>
                <string>{{94,296},{61,88}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{10,7},{61,88}}</string>
                <key>sourceSize</key>
                <string>{81,96}</string>
            </dict>
            <key>mjp_19.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,250},{57,90}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{13,4},{57,90}}</string>
                <key>sourceSize</key>
                <string>{81,96}</string>
            </dict>
            <key>mjp_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{180,495},{55,86}}</string>
                <key>offset</key>
                <string>{-2,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{11,6},{55,86}}</string>
                <key>sourceSize</key>
                <string>{81,96}</string>
            </dict>
            <key>mjp_21.png</key>
            <dict>
                <key>frame</key>
                <string>{{166,875},{61,62}}</string>
                <key>offset</key>
                <string>{-2,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,19},{61,62}}</string>
                <key>sourceSize</key>
                <string>{81,96}</string>
            </dict>
            <key>mjp_22.png</key>
            <dict>
                <key>frame</key>
                <string>{{88,721},{43,84}}</string>
                <key>offset</key>
                <string>{-1,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{18,3},{43,84}}</string>
                <key>sourceSize</key>
                <string>{81,96}</string>
            </dict>
            <key>mjp_23.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,811},{73,80}}</string>
                <key>offset</key>
                <string>{0,-5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,13},{73,80}}</string>
                <key>sourceSize</key>
                <string>{81,96}</string>
            </dict>
            <key>mjp_24.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,886},{63,80}}</string>
                <key>offset</key>
                <string>{1,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{10,11},{63,80}}</string>
                <key>sourceSize</key>
                <string>{81,96}</string>
            </dict>
            <key>mjp_25.png</key>
            <dict>
                <key>frame</key>
                <string>{{84,837},{63,80}}</string>
                <key>offset</key>
                <string>{1,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{10,11},{63,80}}</string>
                <key>sourceSize</key>
                <string>{81,96}</string>
            </dict>
            <key>mjp_26.png</key>
            <dict>
                <key>frame</key>
                <string>{{182,444},{49,88}}</string>
                <key>offset</key>
                <string>{1,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{17,7},{49,88}}</string>
                <key>sourceSize</key>
                <string>{81,96}</string>
            </dict>
            <key>mjp_27.png</key>
            <dict>
                <key>frame</key>
                <string>{{235,90},{65,92}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,3},{65,92}}</string>
                <key>sourceSize</key>
                <string>{81,96}</string>
            </dict>
            <key>mjp_28.png</key>
            <dict>
                <key>frame</key>
                <string>{{108,243},{51,94}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{15,2},{51,94}}</string>
                <key>sourceSize</key>
                <string>{81,96}</string>
            </dict>
            <key>mjp_29.png</key>
            <dict>
                <key>frame</key>
                <string>{{204,255},{69,90}}</string>
                <key>offset</key>
                <string>{-1,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{5,5},{69,90}}</string>
                <key>sourceSize</key>
                <string>{81,96}</string>
            </dict>
            <key>mjp_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,372},{57,88}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{10,4},{57,88}}</string>
                <key>sourceSize</key>
                <string>{81,96}</string>
            </dict>
            <key>mjp_31.png</key>
            <dict>
                <key>frame</key>
                <string>{{92,477},{65,86}}</string>
                <key>offset</key>
                <string>{2,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{10,6},{65,86}}</string>
                <key>sourceSize</key>
                <string>{81,96}</string>
            </dict>
            <key>mjp_32.png</key>
            <dict>
                <key>frame</key>
                <string>{{225,947},{63,74}}</string>
                <key>offset</key>
                <string>{3,-5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{12,16},{63,74}}</string>
                <key>sourceSize</key>
                <string>{81,96}</string>
            </dict>
            <key>mjp_33.png</key>
            <dict>
                <key>frame</key>
                <string>{{229,875},{71,70}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,14},{71,70}}</string>
                <key>sourceSize</key>
                <string>{81,96}</string>
            </dict>
            <key>mjp_34.png</key>
            <dict>
                <key>frame</key>
                <string>{{82,951},{65,68}}</string>
                <key>offset</key>
                <string>{1,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{9,18},{65,68}}</string>
                <key>sourceSize</key>
                <string>{81,96}</string>
            </dict>
            <key>mjp_35.png</key>
            <dict>
                <key>frame</key>
                <string>{{174,682},{51,84}}</string>
                <key>offset</key>
                <string>{2,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{17,9},{51,84}}</string>
                <key>sourceSize</key>
                <string>{81,96}</string>
            </dict>
            <key>mjp_36.png</key>
            <dict>
                <key>frame</key>
                <string>{{152,939},{71,74}}</string>
                <key>offset</key>
                <string>{3,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,16},{71,74}}</string>
                <key>sourceSize</key>
                <string>{81,96}</string>
            </dict>
            <key>mjp_37.png</key>
            <dict>
                <key>frame</key>
                <string>{{184,326},{59,88}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{10,5},{59,88}}</string>
                <key>sourceSize</key>
                <string>{81,96}</string>
            </dict>
            <key>mjp_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,488},{55,86}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{12,6},{55,86}}</string>
                <key>sourceSize</key>
                <string>{81,96}</string>
            </dict>
            <key>mjp_41.png</key>
            <dict>
                <key>frame</key>
                <string>{{178,552},{69,84}}</string>
                <key>offset</key>
                <string>{2,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{8,10},{69,84}}</string>
                <key>sourceSize</key>
                <string>{81,96}</string>
            </dict>
            <key>mjp_42.png</key>
            <dict>
                <key>frame</key>
                <string>{{170,808},{65,80}}</string>
                <key>offset</key>
                <string>{1,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{9,10},{65,80}}</string>
                <key>sourceSize</key>
                <string>{81,96}</string>
            </dict>
            <key>mjp_43.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,951},{65,78}}</string>
                <key>offset</key>
                <string>{1,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{9,12},{65,78}}</string>
                <key>sourceSize</key>
                <string>{81,96}</string>
            </dict>
            <key>mjp_44.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,736},{73,82}}</string>
                <key>offset</key>
                <string>{4,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{8,11},{73,82}}</string>
                <key>sourceSize</key>
                <string>{81,96}</string>
            </dict>
            <key>mjp_45.png</key>
            <dict>
                <key>frame</key>
                <string>{{215,184},{69,86}}</string>
                <key>offset</key>
                <string>{3,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{9,9},{69,86}}</string>
                <key>sourceSize</key>
                <string>{81,96}</string>
            </dict>
            <key>mjp_46.png</key>
            <dict>
                <key>frame</key>
                <string>{{86,766},{69,82}}</string>
                <key>offset</key>
                <string>{4,-5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{10,12},{69,82}}</string>
                <key>sourceSize</key>
                <string>{81,96}</string>
            </dict>
            <key>mjp_47.png</key>
            <dict>
                <key>frame</key>
                <string>{{174,735},{71,82}}</string>
                <key>offset</key>
                <string>{5,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{10,9},{71,82}}</string>
                <key>sourceSize</key>
                <string>{81,96}</string>
            </dict>
            <key>mjp_48.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,545},{69,84}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,7},{69,84}}</string>
                <key>sourceSize</key>
                <string>{81,96}</string>
            </dict>
            <key>mjp_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,679},{55,84}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{12,7},{55,84}}</string>
                <key>sourceSize</key>
                <string>{81,96}</string>
            </dict>
            <key>mjp_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{92,420},{55,88}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{11,4},{55,88}}</string>
                <key>sourceSize</key>
                <string>{81,96}</string>
            </dict>
            <key>mjp_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{182,387},{55,88}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{11,4},{55,88}}</string>
                <key>sourceSize</key>
                <string>{81,96}</string>
            </dict>
            <key>mjp_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{88,664},{55,84}}</string>
                <key>offset</key>
                <string>{-1,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{12,8},{55,84}}</string>
                <key>sourceSize</key>
                <string>{81,96}</string>
            </dict>
            <key>mjp_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{247,2},{53,86}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,6},{53,86}}</string>
                <key>sourceSize</key>
                <string>{81,96}</string>
            </dict>
            <key>png_caishen.png</key>
            <dict>
                <key>frame</key>
                <string>{{260,698},{40,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{40,42}}</string>
                <key>sourceSize</key>
                <string>{40,42}</string>
            </dict>
            <key>png_caishen_small.png</key>
            <dict>
                <key>frame</key>
                <string>{{274,326},{21,23}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{21,23}}</string>
                <key>sourceSize</key>
                <string>{21,23}</string>
            </dict>
            <key>png_shaizi1.png</key>
            <dict>
                <key>frame</key>
                <string>{{121,902},{35,35}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{35,35}}</string>
                <key>sourceSize</key>
                <string>{35,35}</string>
            </dict>
            <key>png_shaizi2.png</key>
            <dict>
                <key>frame</key>
                <string>{{84,902},{35,35}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{35,35}}</string>
                <key>sourceSize</key>
                <string>{35,35}</string>
            </dict>
            <key>png_shaizi3.png</key>
            <dict>
                <key>frame</key>
                <string>{{258,779},{35,35}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{35,35}}</string>
                <key>sourceSize</key>
                <string>{35,35}</string>
            </dict>
            <key>png_shaizi4.png</key>
            <dict>
                <key>frame</key>
                <string>{{258,742},{35,35}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{35,35}}</string>
                <key>sourceSize</key>
                <string>{35,35}</string>
            </dict>
            <key>png_shaizi5.png</key>
            <dict>
                <key>frame</key>
                <string>{{264,601},{35,35}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{35,35}}</string>
                <key>sourceSize</key>
                <string>{35,35}</string>
            </dict>
            <key>png_shaizi6.png</key>
            <dict>
                <key>frame</key>
                <string>{{264,564},{35,35}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{35,35}}</string>
                <key>sourceSize</key>
                <string>{35,35}</string>
            </dict>
            <key>zhezhao.png</key>
            <dict>
                <key>frame</key>
                <string>{{127,2},{79,118}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{79,118}}</string>
                <key>sourceSize</key>
                <string>{79,118}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>mjp_res.png</string>
            <key>size</key>
            <string>{303,1018}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:1c83ee8cff03bab1e2ce1117a748ddf5$</string>
            <key>textureFileName</key>
            <string>mjp_res.png</string>
        </dict>
    </dict>
</plist>
